.category-sorting-wrap {
    width: fit-content;
}

.category-sorting-heading {
    text-decoration: underline;
    padding: 0.5rem;
    cursor: pointer;
    position: relative;
}

.category-sorting-heading:hover {
    background-color: azure;
}

.category-sorting-checkboxes {
    /* display: none; */
    flex-direction: column;
    position: absolute;
}

.category-sorting-checkbox:hover {
    background-color: azure;
}